[user]
	email = choman@gmail.com
	name = Chad Homan
[core]
	editor = vim
[push]
	default = simple
[credential]
	helper = cache

[grep]
	lineNumber = true

# Allow local customizations in the .gitconfig_local file
[include]
	path = ~/.gitconfig_local
