.config/aws/config##c.work  filter=crypt diff=crypt merge=crypt
.config/aws/credentials##c.homework  filter=crypt diff=crypt merge=crypt
.config/direnv/direnvrc##class.work  filter=crypt diff=crypt merge=crypt
.config/git/credhelper.thor  filter=crypt diff=crypt merge=crypt
.config/goto##class.work  filter=crypt diff=crypt merge=crypt
.jira.d/config.yml##class.work  filter=crypt diff=crypt merge=crypt
.ssh/config##c.work  filter=crypt diff=crypt merge=crypt
.work  filter=crypt diff=crypt merge=crypt
